n8n-workflows/bot-health-check.json
{
  "name": "LinkedIn DevOps — Bot Health Check",
  "nodes": [
    {
      "id": "hc1",
      "name": "Schedule ogni 4 ore",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,13,17 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "hc2",
      "name": "Pre-Hook: Valida Contesto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const startedAt = new Date().toISOString();\nconst now = new Date();\nconst dayOfWeek = now.getDay();\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nif (isWeekend) {\n  return [{ json: { skip: true, reason: 'weekend', startedAt } }];\n}\nconst missingVars = [];\nif (!$env.TELEGRAM_BOT_TOKEN) missingVars.push('TELEGRAM_BOT_TOKEN');\nif (!$env.TELEGRAM_CHAT_ID) missingVars.push('TELEGRAM_CHAT_ID');\nif (missingVars.length > 0) {\n  throw new Error('Pre-hook FAIL: ' + missingVars.join(', '));\n}\nconst out = { startedAt, contextOk: true, skip: false, workflow: 'bot-health-check' };\nreturn [{ json: out }];"
      }
    },
    {
      "id": "hc3",
      "name": "Weekend? Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        440,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "hc-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "hc4",
      "name": "Skip NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        180
      ],
      "parameters": {}
    },
    {
      "id": "hc5",
      "name": "Health Check API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "http://bot-api:3000/api/health",
        "options": {
          "timeout": 5000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "hc6",
      "name": "Snapshot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "http://bot-api:3000/api/v1/automation/snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{$env.DASHBOARD_API_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "hc7",
      "name": "Analizza Stato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "jsCode": "const ctx = $('Pre-Hook: Valida Contesto').first().json;\nif (ctx.skip) return [{ json: { skip: true, reason: ctx.reason } }];\nconst healthResp = $('Health Check API').first().json;\nconst snapshotResp = $('Snapshot API').first().json;\nconst healthOk = healthResp.status === 'ok';\nconst snapshotOk = !snapshotResp.error && snapshotResp.automation;\nconst riskAction = snapshotResp.automation?.riskAction || 'UNKNOWN';\nconst endedAt = new Date().toISOString();\nconst durationMs = new Date(endedAt) - new Date(ctx.startedAt);\nconst allOk = healthOk && snapshotOk;\nconst out = {\n  allOk,\n  healthOk,\n  snapshotOk,\n  riskAction,\n  healthError: healthResp.error || null,\n  snapshotError: snapshotResp.error || null,\n  startedAt: ctx.startedAt,\n  endedAt,\n  durationMs,\n  workflow: 'bot-health-check'\n};\nreturn [{ json: out }];"
      }
    },
    {
      "id": "hc8",
      "name": "Tutto OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1320,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "hc-ok",
              "leftValue": "={{ $json.allOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "hc9",
      "name": "Check Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1320,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "hc-skip2",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "hc10",
      "name": "OK NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        300
      ],
      "parameters": {}
    },
    {
      "id": "hc11",
      "name": "Telegram Alert Down",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1540,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '🛑 *Bot Health Alert*\nHealthAPI: ' + ($json.healthOk ? '✅' : '❌') + '\nSnapshot: ' + ($json.snapshotOk ? '✅' : '❌') + '\nRiskAction: ' + $json.riskAction + '\nErrore: ' + ($json.healthError || $json.snapshotError || 'n/d') + '\n' + $json.endedAt, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "hc12",
      "name": "Post-Hook Log Finale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst log = {\n  workflow: 'bot-health-check',\n  allOk: r.allOk,\n  riskAction: r.riskAction,\n  durationMs: r.durationMs,\n  loggedAt: new Date().toISOString()\n};\nconsole.log('[POST-HOOK health-check]', JSON.stringify(log));\nreturn [{ json: log }];"
      }
    }
  ],
  "connections": {
    "Schedule ogni 4 ore": {
      "main": [
        [
          {
            "node": "Pre-Hook: Valida Contesto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Hook: Valida Contesto": {
      "main": [
        [
          {
            "node": "Weekend? Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekend? Skip": {
      "main": [
        [
          {
            "node": "Skip NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Health Check API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check API": {
      "main": [
        [
          {
            "node": "Snapshot API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot API": {
      "main": [
        [
          {
            "node": "Analizza Stato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizza Stato": {
      "main": [
        [
          {
            "node": "Tutto OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tutto OK?": {
      "main": [
        [
          {
            "node": "OK NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip?": {
      "main": [
        [
          {
            "node": "Post-Hook Log Finale",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Alert Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK NoOp": {
      "main": [
        [
          {
            "node": "Post-Hook Log Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert Down": {
      "main": [
        [
          {
            "node": "Post-Hook Log Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "devops"
    },
    {
      "name": "health-check"
    },
    {
      "name": "monitoring"
    }
  ]
}