n8n-workflows/linkedin-detection-monitor.json
{
  "name": "LinkedIn — Weekly Safety Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Trigger: lunedì 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [20, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pre-hook: verifica env vars\nconst startedAt = new Date().toISOString();\n\nconst missingVars = [];\nif (!$env.TELEGRAM_BOT_TOKEN) missingVars.push('TELEGRAM_BOT_TOKEN');\nif (!$env.TELEGRAM_CHAT_ID) missingVars.push('TELEGRAM_CHAT_ID');\nif (missingVars.length > 0) {\n  throw new Error('Pre-hook FAIL — env vars mancanti: ' + missingVars.join(', '));\n}\n\nreturn [{ json: { startedAt, workflow: 'linkedin-safety-reminder', ok: true } }];"
      },
      "id": "pre-hook",
      "name": "Pre-hook: valida env",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Costruisce il promemoria settimanale anti-ban.\n// Nota: questo workflow NON fa web scraping (Google blocca i bot).\n// Per aggiornamenti manuali alle linee guida, aggiornare la skill /antiban-review.\nconst now = new Date();\nconst checkDate = now.toISOString().split('T')[0];\nconst weekNumber = Math.ceil((now.getDate() + new Date(now.getFullYear(), now.getMonth(), 1).getDay()) / 7);\n\nreturn [{\n  json: {\n    checkDate,\n    weekNumber,\n    reminder: 'Max 80 azioni/giorno | IP residenziale | Delay variabile | Sessioni max 45min',\n    links: [\n      'https://getsales.io/blog/linkedin-automation-safety-guide-2026/',\n      'https://growleads.io/blog/linkedin-automation-ban-risk-2026-safe-use/',\n      'https://www.dux-soup.com/blog/linkedin-automation-safety-guide-how-to-avoid-account-restrictions-in-2026'\n    ]\n  }\n}];"
      },
      "id": "build-reminder",
      "name": "Costruisci promemoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=🛡️ *LinkedIn Safety Reminder — {{ $json.checkDate }}*\n\n*Limiti sicuri (aggiornati 2026):*\n📊 Max 80 azioni/giorno\n🌐 Solo IP residenziali (Oxylabs)\n⏱️ Delay variabile — no pattern fisso\n⏳ Sessioni max 45 min\n🤖 Behavioral biometrics: evitare ritmi matematicamente precisi\n\n*Da controllare manualmente questa settimana:*\n• Novità su detection LinkedIn → cercare su Google/Twitter\n• Se ci sono cambiamenti → aggiornare `/antiban-review` skill\n\n*Fonti di riferimento:*\n• [GetSales Safety Guide](https://getsales.io/blog/linkedin-automation-safety-guide-2026/)\n• [GrowLeads Ban Risk Analysis](https://growleads.io/blog/linkedin-automation-ban-risk-2026-safe-use/)\n• [Dux-Soup Safety Guide](https://www.dux-soup.com/blog/linkedin-automation-safety-guide-how-to-avoid-account-restrictions-in-2026)",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-alert",
      "name": "Telegram: invia promemoria",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Post-hook: logga completamento\nconst ts = new Date().toISOString();\nconst startedAt = $('Pre-hook: valida env').first().json.startedAt;\nconst durationMs = new Date(ts).getTime() - new Date(startedAt).getTime();\nconsole.log(`[${ts}] linkedin-safety-reminder completato in ${durationMs}ms`);\nreturn [{ json: { completedAt: ts, durationMs, status: 'ok' } }];"
      },
      "id": "post-hook",
      "name": "Post-hook: log completamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Trigger: lunedì 09:00": {
      "main": [
        [{ "node": "Pre-hook: valida env", "type": "main", "index": 0 }]
      ]
    },
    "Pre-hook: valida env": {
      "main": [
        [{ "node": "Costruisci promemoria", "type": "main", "index": 0 }]
      ]
    },
    "Costruisci promemoria": {
      "main": [
        [{ "node": "Telegram: invia promemoria", "type": "main", "index": 0 }]
      ]
    },
    "Telegram: invia promemoria": {
      "main": [
        [{ "node": "Post-hook: log completamento", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["linkedin", "security", "weekly"]
}
